.carousel-item active  slide1{
    text-align: center;

}
.carousel-item active  slide2{
    text-align: center;
}

/* container */
.container{
    position: relaative;
        height: 1200px;
    width: 500px;
    margin: 240px;
    background: #005;
    display: flex;
}

.main{
    position: absolute;
    background-color: brown;
    display: flex;
     align-items:center ;
     text-align: center;
}

/* .main1{
    position: absolute;
    background-color: blue;
    display: block;
    align-items: baseline;
    margin-top: 10;
    padding: 20;
} */

.box1{
    position: relative;
    background-color: #005;
    margin: 30;
    padding: 20;
}